* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.main-container {
  /* background-color: cadetblue; */
  background-color: hsl(0, 0%, 96%);
}

.recipe-page {
  background-color: hsl(180, 100%, 25%);
}
